@import "../../../src/styles/mixins";
.renderFormField {
  display: flex;
  gap: 1rem;
}
.form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.inputField {
  width: 46rem;
  @include respondTo("mobile") {
    width: 100%;
  }
}
