.headerContainer {
  width: 100%;
  display: flex;

  list-style-type: none;
  .title {
    flex: 1;
  }
  .navBrList {
    display: flex;
    flex: 1;
  }
}

.navigationbar {
  // margin-top: 1rem;
  // padding: 1rem;
}
